body {
    background-color: skyblue;
}

/*미디어쿼리를 사용할 때, PC보다 작은 디자인을 적용할 때*/


@media screen and (min-width:481px) and (max-width:767px) {
    body {
        background-color: gold;
    }    
    .grid-box-media {
        grid-template-columns: 1fr 1fr;
    }
}

.grid-box-media {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.grid-box-media>.content {
    margin: 10px;
    /*콘텐츠 값이 없으므로 높이 값만 지정*/
    height: 300px;
    background-color: wheat;
}