li {
    list-style: none;
}
a {
    text-decoration-line: none;
    color: purple;
}

.select {
    border: solid 3px red;
}

.tag {
    text-align: center;
    margin: 15px;
}

td {
    border-radius: 20px;
    background-color: blue;
    color: white;
    padding: 10px;
    width: 70px;
}

table {
    border-spacing: 10px;
}

p::after{
    content: "N";
    display: inline-block;
    color: white;
    background-color: orange;
    width: 20px;
    border-radius: 20px;
    text-align: center;
}